{% extends "base.html" %}
{% load static %} 

{% block title %} || Home {% endblock title %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home || Lizzy File Server Platform </title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <div class="container d-flex align-items-center justify-content-center mt-3">
            <div class="shadow p-5">
                <h2>Welcome to the Lizzy File Server Platform!</h2>
                <hr style="color: #ccc;">
                <p class="col-md-9 mt-3 ml-3 text-center mx-auto" style="font-size: 16px;">This is the home page of our platform. Feel free to explore and use the various features.</p>

            </div>
        </div>
        <div class="text-center mt-3" style="width">
            <img src="{% static 'img/image.jpg' %}" class="img-fluid"  style="width: 450px; height: 450px;">
        </div> 


        {% endblock %}
    </body>
</html>